.expanded-toolbar {
    justify-content: space-between;
    align-items: center;
  }
  
  .home-cls {
      position: relative;
      margin-right: 700px;
  }
  .btn-class{
    position: relative;
    margin-left: 127px;
}
.mat-elevation-z1{
  top: 1004px;
    left: -262px;

}

  