<!-- <mat-toolbar color="primary" class="expanded-toolbar">
    <span>
      <button mat-button routerLink="/home">{{title}}</button>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button> 
      <button mat-button routerLink="/home" class="home-cls"><mat-icon>home</mat-icon></button> 
      <mat-menu #menu="matMenu">
        <button mat-menu-item >home</button>
        <button mat-menu-item>smartBasket</button>
        <button mat-menu-item >favorates</button>
        <button mat-menu-item >offers</button>
        <button mat-menu-item >my orders</button>
        <button mat-menu-item >offers</button>
        <button mat-menu-item >my account</button>
      </mat-menu>
      

  

      <mat-form-field c> 
        <input type="tel" matInput placeholder="Search">
        </mat-form-field>
        <button class="btn-class" > <div class="material-icons">shopping_cart</div>
          <span style="font-size :10px;"class ="badge bg-danger">S</span>
        <!-- </button>
        
    </span>
    <button mat-button routerLink="/" style="    position: relative;
    margin-left: 1158px;
"><mat-icon>logout</mat-icon></button>
     -->
    
      <diV *ngIf="showmsg" > showing</diV>
    
  <!-- </mat-toolbar> --> -->