<h1>exampe {{inval}}</h1>

<!-- <p>example works!</p>
<h1 >{{name| uppercase}}</h1>
<button (click)="onShow()">Show</button>
<button (click)="Show($event)">Show</button>
<input type="text" [(ngModel)]="userName"  >
<div>
    {{userName}}
</div>
<p>{{ text }} </p>
<p>{{ num }} </p> -->
<!-- <p>{{ caption }} </p> -->
<!-- <p>{{randomNums}}</p>
<button innerText={{caption}}></button>
<app-example22 [childMessage]="parentMessage" ></app-example22>



<ul>
    <li *ngFor="let l of test ">{{test}}</li>
  </ul>
     -->
     <div ngIf ="showmsg"> hiii and hello</div>
