<!-- <mat-toolbar color="primary" class="expanded-toolbar"> -->
  <title>vegitable</title>
  <!-- <span>
    <button mat-button routerLink="/">{{title}}</button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  </span>
  <button mat-button routerLink="/calculator"><mat-icon>dialpad</mat-icon></button> -->
  
    
  
<!-- </mat-toolbar> -->

<router-outlet> </router-outlet> 
