<mat-card>
    <mat-card-content>
      <form>
        <h2>Forgot Password?</h2>
        <mat-error *ngIf="isRequired">
          User does not exist
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
          <mat-error>
            This field is Required
          </mat-error>
        </mat-form-field>
        <button class="signbtncls" (click)="forgotverifyuser()" mat-raised-button color="primary">Verify</button>
        <a class="forgot-cls" mat-button href="/">Back to Login</a>
        <br><br>
        <div *ngIf = "isReseted">
            <p>A Password reset link will be sent to your email to reset your password. If you don't get an email within a few minutes, please re-try</p>
        </div>
      </form>
    </mat-card-content>
</mat-card>
 