body {
    margin: 0;
    font-family: sans-serif;
  }
  
  h1, h2 {
    text-align: center;
  }
  nav a{
    padding:15px 20px;
    text-decoration:none;
    margin-top:10px;
    display:inline-block;
    /* background-color:#eee; */
    border-radius:4px;
    margin-left:20px;
  }
  nav a::content,alink{
  color:#3643b6;
  }
  nav a:hover{
    color:#fff;
    background-color:#3643b6;
  }
  nav a.active{
    color:#ce2b2b;
    background-color:#49ce0c;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
