<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#myPage"><img src="../../assets/logocart.jpg" style="width: 65px;"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a>Market</a></li>
          <!-- <li><a href="#band">BAND</a></li>
          <li><a href="#tour">TOUR</a></li>
          <li><a href="#contact">CONTACT</a></li> -->
          <li><a ><span> <input type="tel" matInput placeholder="Search"></span></a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/">Menu
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *ngFor="let item of itemList;let i =index"><a (click)="getItems(item)">{{i+1}} &nbsp;{{item.catName}}</a></li>
            </ul>
          </li>
         
            <li><a ><i class="fa fa-shopping-cart" style="font-size: 22px;" data-toggle="modal" data-target="#myModal2" aria-hidden="true"></i>
              <span class="badge badge-primary cart_count" id="cart_count"
              style="padding: 5px;position: absolute;background: #ffc400;margin-top: -10px;
              margin-left: -12px;">{{pushData.length}}</span></a></li>
            
            
         
          
        </ul>
      </div>
    </div>
  </nav>
  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel2">Items List</h4>
				</div>

				<div class="modal-body">
				
          <div class="container">
            <div class="card" *ngFor="let data of pushData">
              <div class="card-body">
                <img src="{{data.Iamge}}" style="width: 72px;" class="float-left rounded-circle">
                <div class="message" style="margin-top: -57px;">
                  <h5 class="card-title">{{data.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{data.qty}}&nbsp; * &nbsp;{{data.pirce}} : Total : &nbsp;{{data.qty * data.pirce}} /-</h6>
                  <i class="fa fa-trash-o"  aria-hidden="true" style="font-size: 2pc;
                  color: red;
                  position: absolute;
                  margin-top: -60px;
                  margin-left: 227px;" (click)="deleteItem(data)"></i>
                   </div>
                  
                
              </div>
            </div>
            
            
            
            
          </div>
				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../../assets/bannerimg.jpg" alt="New York" width="1200" height="700">
          <div class="carousel-caption">
            
            <p>Eat vegitables and stay healthy</p>
          </div>      
        </div>
  
        <div class="item">
          <img src="../../assets/red.jpg" alt="Chicago" width="1200" height="700">
          <div class="carousel-caption">
            
            <p>Eat fruits and  stay strong</p>
          </div>      
        </div>
      
        <div class="item">
          <img src="../../assets/vegi.jpg" alt="Los Angeles" width="1200" height="700">
          <div class="carousel-caption">
            
            <p>food is more in important for every humanbeing</p>
          </div>      
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
  
 
  <!-- Container (The Band Section) -->
  <div id="band" class="container text-center">
    <h3>THE Menu</h3>
   
    <div class="row">
      <div class="col-md-4" *ngFor="let item of itemList">
        <mat-card class="mat-elevation-z4" (click)="getItems(item)">
            <mat-card-header>
                <mat-card-title>{{item.catName}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{item.catIamge}}">
            <mat-card-content>
                <strong>
                    standard delivery by tommarow 9am
                </strong>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>1kg- {{item.itemCost}}&nbsp;/-</button>
                <!-- <button mat-button>add-to-cart</button> -->
            </mat-card-actions>
           </mat-card>
      </div>
      <!-- <div class="col-md-4">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
              <mat-card-title>fruits</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/grape-fruit.jpg">
          <mat-card-content>
              <strong>
                  standard delivery by tommarow 9am
              </strong>
          </mat-card-content>
          <mat-card-actions>
              <button mat-button>1kg- 90rs</button>
              <button mat-button>add-to-cart</button>
          </mat-card-actions>
         </mat-card>
      </div> -->
      <!-- <div class="col-md-4">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
              <mat-card-title>fruits</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/grape-fruit.jpg">
          <mat-card-content>
              <strong>
                  standard delivery by tommarow 9am
              </strong>
          </mat-card-content>
          <mat-card-actions>
              <button mat-button>1kg- 90rs</button>
              <button mat-button>add-to-cart</button>
          </mat-card-actions>
         </mat-card>
      </div> -->
    </div>
  </div>
  <div *ngIf="imagesshow"  id="band" class="container text-center">
    <h3>{{subItemshow.catName}}</h3>
    <div class="row text-center">
      <div class="col-md-4" *ngFor="let sub of subItemshow.subcat">
        <div class="thumbnail">
          <img src="{{sub.Iamge}}" alt="Paris" width="20%" height="30%">
          <p><strong>{{sub.name}}</strong></p>
          <!-- <p>Friday 27 November 2015</p> -->
         
              <!-- <a class="btn btn-primary text-white"  role="button" style="float:right">
                <i class="fa fa-minus" style="font-size:15px"></i>
              </a>
            
              {{sub.qty}}
            
              <a class="btn btn-primary text-white"  role="button" style="float:left">
                <i class="fa fa-plus" style="font-size:15px"></i>
            </a> -->
            <button (click)="minus(sub)"><i class="glyphicon glyphicon-minus">  </i></button>
              {{sub.qty}}
            <button  (click)="plus(sub)"> <i class="glyphicon glyphicon-plus">  </i> </button>
           
         
       
        <br>
        <br>
          <button class="btn" (click)="addCart(sub)">Add Cart</button>
        </div>
      </div>
    </div>

  </div>
  <br>
  <!-- Container (TOUR Section) -->
  <div id="tour" class="bg-1">
    <div class="container">
      <h3 class="text-center">Todays offer</h3>
      <p class="text-center">today we are offering 50% off on oil packets<br> 20% off on sugar packets</p>
      <!-- <ul class="list-group">
        <li class="list-group-item">September <span class="label label-danger">Sold Out!</span></li>
        <li class="list-group-item">October <span class="label label-danger">Sold Out!</span></li> 
        <li class="list-group-item">November <span class="badge">3</span></li> 
      </ul> -->
      
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="../../assets/Kiwi-fruit.jpg" alt="Paris" style="position: relative; height: 282px;">
            <p><strong>kiwi</strong></p>
            
            <button class="btn" data-toggle="modal" data-target="#myModal">Buy</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="../../assets/apple-fruit.jpg" alt="New York" style="position: relative;height: 281px;">
            <p><strong>apple</strong></p>
            
            <button class="btn" data-toggle="modal" data-target="#myModal">Buy</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="../../assets/orange-fruit.jpg" alt="San Francisco" width="400" height="300">
            <p><strong>orange</strong></p>
            
            <button class="btn" data-toggle="modal" data-target="#myModal">Buy</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span>no of packets</label>
                <input type="number" class="form-control" id="psw" placeholder="how many packets">
              </div>
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
                <input type="text" class="form-control" id="usrname" placeholder="Enter email">
              </div>
              <button class="btn" (click)="addCart">Add Cart</button> 
                  <!-- <span class="glyphicon glyphicon-ok"></span>
                </button> -->
            </form>
          </div>
          <div class="modal-footer">
         
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove"></span> Cancel
            </button> 
            <p>Need <a href="#">help?</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Container (Contact Section) -->
  <!-- <div id="contact" class="container">  -->
    <!-- <h3 class="text-center">Contact</h3>
    <p class="text-center"><em>We love our fans!</em></p> -->
  
    <!-- <div class="row">
      <div class="col-md-4">
        <p>Fan? Drop a note.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>Chicago, US</p>
        <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
        <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <br>
        <div class="row">
          <div class="col-md-12 form-group">
            <button class="btn pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h3 class="text-center">From The Blog</h3>  
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Mike</a></li>
      <li><a data-toggle="tab" href="#menu1">Chandler</a></li>
      <li><a data-toggle="tab" href="#menu2">Peter</a></li>
    </ul>
   -->
    <!-- <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h2>Mike Ross, Manager</h2>
        <p>Man, we've been on the road for some time now. Looking forward to lorem ipsum.</p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h2>Chandler Bing, Guitarist</h2>
        <p>Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h2>Peter Griffin, Bass player</h2>
        <p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
      </div>
    </div> -->
  <!-- </div> -->
  
  <!-- Image of location/map -->
  <!-- <img src="map.jpg" class="img-responsive" style="width:100%"> -->
  
  <!-- Footer -->
  <!-- <footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p> 
  </footer> -->

  
  